/* Interactive Story Style Sheet: Courtney Harris*/

body {
	background-color: white;
}

button:hover {
	background-color: green;
}

.long-cang{
	font-family: 'Long Cang', cursive;
}

.Staatliches{
	font-family: 'Staatliches', cursive;
}

.press-start{
	font-family: 'Press Start 2P', cursive;
}

.ouch{
	font-family: 'Special Elite', cursive;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.text-white{
	color: white;
}

.bg-dark{
	background-color: rgb(0,0,0);
}

.bg-green{
	background-color:rgba(154,255,51, 0.75);
}

.bg-red{
	background-color: rgba(255,83,51, 0.75);
}


.force-full-viewport{
	width:100%;
	height:100%;
}

ul{
	list-style-type: bullet;
}

ul.bullet{
	list-style-image: url('../assets/boxingglove.jpg');
	/*list-style-position: inside;*/
}

